<div class="center home-card">
    <h1 class="lg home-title"> Welcome to my first solo project </h1>
    <p class="md home-paragraph"> This to do app is meant to save the world from its most complex problems </p>
    <%= link_to "Register", '#', class: "btn btn-default btn-lg background-blue white" %>
</div>

