
<% if current_user %>
    <div class="container-fluid">
        
        <div class="home-container">
            <div class="home-form">
                <h3> Create a Task </h3>
                <%= render 'shared/task_form' %>
            </div>
            <div class="home-tasks">
                <h3> Current tasks </h3>
                <%= render 'shared/feed' %>
            </div>
        <div>
    </div>
<% else %>
    <div class="center home-card">
        <h1 class="lg home-title blue"> Welcome to my first solo project </h1>
        <p class="md home-paragraph"> This to do app is meant to save the world from its most complex problems </p>
        <%= link_to "Register", '/signup', class: "bttn-lg background-blue white bold" %>
    </div>  
<% end %>



