
<% if current_user %>
    <div class="home-container">

        <div>
            <button type="button" class="bttn-lg background-blue white home-create-bttn" data-toggle="modal" data-target="#myModal">
                Create Task
            </button>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content home-modal">
                        <%= render 'shared/task_form' %>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-tasks-container">
            <h3 class="center"> Current tasks </h3>
            <%= render 'shared/feed' %>
        <div>

    </div>
<% else %>
    <div class="center home-card">
        <h1 class="lg home-title blue"> Welcome to my first solo project </h1>
        <p class="md home-paragraph"> This to do app is meant to save the world from its most complex problems </p>
        <%= link_to "Register", '/signup', class: "bttn-lg background-blue white bold" %>
    </div>  
<% end %>



