<% if @feed_items.any? %> 
    <h3 class="center"> Current tasks </h3>
    <div>
        <ul class="tasks">
            <%= render @feed_items %> 
        </ul>
        <div class="digg_pagination">
            <%= will_paginate @feed_items, params: { controller: :static_pages, action: :home } %>
        </div>
    </div>
<% else %>
    <h3 class="center"> Create a task to display it... </h3>
    <%= image_tag("nothing_to_see.svg", :alt => "rss feed", class: "image-responsive center-block home-image") %>
<% end %>