// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tasks {
    padding: 0;
    list-style-type: none;
}

.task-style {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid rgba(163, 156, 156, 0.3);
    border-radius: 8px;
}

.task-notes {
    width:550px;
    word-wrap: break-word;
}

.feed-wrapper {
    display: grid;
}

.feed-first-block {

}

.feed-second-block {

}

@media screen and (min-width: 1000px) {
    .feed-wrapper {
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 1000px) {
    .task-notes {
        width:150px;
        word-wrap: break-word;
    }
}