<footer class="footer">
    <nav class="navbar navbar-default background-white navbar-fixed-bottom nav-padding border-top"> 
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "LinkedIn", 'https://www.linkedin.com/in/diego-alejandro-torres-cruz/', class: "links bold", :target=> '_blank' %></li>
                <li><%= link_to "Github", 'https://github.com/AlexTorres88', class: "links bold", :target=> '_blank' %></li>
            </ul>
        </div>  
    </nav>
</footer>